/* Issue summary block */
.issue-cockpit-All,
.issue-cockpit-bug,
.issue-cockpit-1 {
  padding-left: 10px;
  padding-top: 10px;
}
#block-simplytest-issues-simplytest-issues h3 {
  font-size: 15px;
  margin: 0;
  color: #fff;
}
#block-simplytest-issues-simplytest-issues .issue-nav {
  padding-left: 10px;
  padding-top: 10px;
}
#block-simplytest-issues-simplytest-issues .issue-nav a {
  display: block;
}